/* Branding */
body > .navbar .brand {
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}

body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

/* custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 1000px;
}

.container-fluid {
  padding-top: 30px;
  padding-bottom: 40px;
}

/* Sidenav */
.sidebar-nav {
  padding: 9px 0;
}

.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

/* about */
.about{
  margin-top: 30px;
}

.about h1{
  font-family: 'Allura', cursive;
  font-weight: bold;
  text-shadow: 0 0.1em 0.1em #6B6B6B;
}

/* jumbotron */
.jumbotron {
  margin-top: 70px;
  margin-bottom: 70px;
  height: 100%;
}

.jumbotron h1{
  font-size: 72px;
  line-height: 1;
  padding: 40px 0;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  text-shadow: 0 0.1em 0.1em #6B6B6B;
}

.jumbotron .lead{
  font-family: 'Allura', cursive;
  margin-bottom: 20px;
  font-size: 35px;
}

/* Carousel base class */
.carousel {
  margin: 10px 0px;
  box-shadow: 0 0 3em #6B6B6B;
}
.carousel .item {
  height: 300px;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 300px;
}

/* user registration */
.input-xlarge2 {
	width: 320px;
}

.span5 form{
    padding-top: 15px;
}

.span5 p{
	width: 330px;
}

/* newsletter */
.jumbotron h2{
  font-family: 'Fredericka the Great', cursive;
  text-shadow: 0 0.1em 0.1em #6B6B6B;
}

.newsletter{
  margin-top: 30px;
  text-align: justify;
}

/* Social Media */
.social-media a{
  text-decoration: none;
}

.social-media img{
  opacity: 0.5;
}

.social-media img:hover{
  opacity: 1;
}

/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

/* featurette */
.featurette-divider {
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
}
    
.featurette {
  padding-top: 20px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
    
.featurette-image {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  /*margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

.featurette-image.pull-left {
  margin-right: 30px;
}

.featurette-image.pull-right {
  margin-left: 30px;
}

/* footer right*/
ul#right{
  margin: 0;
  list-style: none;
}

ul#right li{
  display: inline-block;
  margin-right: 2px;
}


