{% extends 'base.html' %}

{% block nav %}
  {% with about_nav=True %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
<div class="container-narrow">
	<div class="row-fluid">
	{% block sidebar %}
		<div class="span4 bs-docs-sidebar">
			<ul class="nav nav-list bs-docs-sidenav">
				<li {% if about_nav %} class="active" {% endif %}><a href="/about.html"><i class="icon-chevron-right"></i>About</a></li>
				<li {% if people_nav %} class="active" {% endif %}><a href="/people.html"><i class="icon-chevron-right"></i>People</a></li>
				<li {% if careers_nav %} class="active" {% endif %}><a href="/careers.html"><i class="icon-chevron-right"></i>Careers</a></li>
				<li {% if press_nav %} class="active" {% endif %}><a href="/press.html"><i class="icon-chevron-right"></i>Press</a></li>
			</ul>
		
			<p>Looking for help? Check out our <a href="/documentation.html">documentation</a> or contact support.</p>

			<p>Get in touch with us. Our contact form goes to real people and we'd love to hear from you. <a href="/contact.html">Contact us</a>.</p>

		</div><!-- end of sidebar -->
	{% endblock sidebar %}
	{% block aboutcontent %}
		<div class="span8 about">
			<div class="row">
				<div class="well">
				<h1>What?</h1>
				<hr>
				<p>Django Themes is an unique e-commerce web application which allows developers and non-developers to stay connected while undergoing shopping and selling of themes. We provide shoppers inspiration on what to do next. We'll give you personlization recommendations and deals based on your tastes. The whole process is fun and easy, we assure you no sweat, no headaches and no pulling of hairs</p>
				</div>
			</div>
			<div class="row">
				<div class="well">
				<h1>When?</h1>
				<hr>
				<p>Django Themes is a product of XXX developed in 2013. XXX is based in San Francisco and was founded by XXX to develop fun and crazy applications. Working remotely and collaborating from two different countries and timezones, they began building the first version of Django Themes in mid of 2013.<!--launched at Tim's apartment in Mountain View, San Franciso in June 2013 --></p>
				</div>
			</div>
		</div>
	{% endblock aboutcontent %}
	</div>
</div>
{% endblock content %}
