
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le Styles -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.responsive.css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/custom.css"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Fredericka+the+Great"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Allure"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->

    <!-- Le Scripts -->
    <script src="{{STATIC_URL}}js/bootstrap.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.0.js"></script>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.png">
  </head>

  <body>

    {% block nav %}
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">Project name</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li {% if home_nav %} class="active" {% endif %}><a href="/">Home</a></li>
                <li {% if about_nav %}class="active" {% endif %}><a href="/about.html">About</a></li>
                <li {% if contact_nav %}class="active" {% endif %}><a href="/contact.html">Contact</a></li>
              </ul>
              <form class="navbar-form pull-right">
                <button type="submit" class="btn">Login</button>
              </form>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
    {% endblock nav %}

    <div class="container">
      {% block content %}

      {% endblock content %}

    </div> <!-- /container -->

    <!-- Lazy Loads -->
    {% block scripts%}{% endblock %}

  </body>
</html>

